:root {
  --white: #ffffff;
  --sideborder: #E3E4E8;
  --linktext: #141B34;
  --primary: #FF645A;
  --primary-color: #FF645A;
  --hover: #d64e44;
  --hoverbg: rgba(255, 232, 231, 0.30);
  --bodybg: #F7F7FA;
  --tabcolor: rgba(28, 29, 34, 0.50);
  --activecolor: #00FF19;
  --namecolor: #686D82;
  --groupuserbg: #F1F1F1;
  --textplaceholder: #B0B4C3;
  --inputbg: #F4F7FA;
  --openbadgebg: #E7FFF3;
  --resetcolor: #464F60;
  --resetbg: #BCC2CE;
  --mediumbg: #E9EDF5;
  --mediumcolor: #5A6376;
  --lowbg: #E4E4E4;
  --highbg: #FFF1F0;
  --highcolor: #FF473C;
  --replybg: #F7F9FD;
  --creatortext: #0A0A0A;
  --activetext: #00DC72;
  --pdfbg: #FFF2F1;
  --theadbg: rgba(244, 247, 252, 0.75);
  --selectshadow: 0 0 0 .0625rem rgba(104, 113, 130, 0.16), 0 .0625rem .125rem 0 rgba(0, 0, 0, 0.06);
  --tawk-header-background-color: #FF645A !important;
}

[data-theme="dark"] {
  --white: #111111;
  --sideborder: #595454;
  --linktext: #ffffff;
  --primary: #FF645A;
  --primary-color: #FF645A;
  --tawk-header-background-color: #FF645A !important;
  --hoverbg: rgba(255, 232, 231, 0.30);
  --bodybg: #1e1f20;
  --tabcolor: rgba(255, 255, 255, 0.50);
  --activecolor: #00FF19;
  --namecolor: #cccccc;
  --groupuserbg: #F1F1F1;
  --textplaceholder: #B0B4C3;
  --creatortext: #eeeeee;
  --inputbg: #101010;
  --selectshadow: 0 0 0 .0625rem rgba(255, 255, 255, 0.16), 0 .0625rem .125rem 0 rgba(255, 255, 255, 0.06);
}

body {
  background: var(--bodybg);
}

button {
  background: transparent;
  border: 0;
}

p, span, figure, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance:none;
  appearance:none;
}

/* svg {
  width: 100%;
  height: 100%;
} */

input:focus,
textarea:focus {
  outline: none;
}

.sidebar {
  width: 14.75rem;
  border-radius: 0;
  background: var(--white);
  min-height: 100vh;
  border-right: .0625rem solid var(--sideborder);
}

.sidebar .brand-icon,
.sidebar.sidebar-mini .brand-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar .brand-icon .mini-logo {
  display: none;
}

.sidebar .brand-icon .full-logo {
  display: block;
}

.sidebar.sidebar-mini .brand-icon .full-logo {
  display: none;
}

.sidebar.sidebar-mini .brand-icon .whitelogo {
  display: none;
}

.sidebar.sidebar-mini .brand-icon .mini-logo {
  display: block;
}

.sidebar.sidebar-mini .menu-list .menu-list-link .icontitle .linktitle,
.sidebar.sidebar-mini .menu-list .menu-list-link .arrowicon {
  display: none;
}

.sidebar.sidebar-mini .menu-list .collapse {
  display: none;
}

.sidebar.sidebar-mini .menu-list .menu-list-link {
  justify-content: center;
}

.sidebar .submenu {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: .25rem;
}

.sidebar .submenu .submenu-link {
  padding: .5rem .75rem;
  display: flex;
  align-items: center;
  gap: .25rem;
}

.sidebar .submenu .submenu-link .icon {
  width: 1.125rem;
  height: 1.125rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar .submenu .submenu-link .text {
  color: var(--linktext);
  font-size: .8125rem;
  font-weight: 600;
}

.sidebar .submenu .submenu-link .icon svg path {
  stroke: var(--linktext);
}

.sidebar .submenu .submenu-link:hover:not(.active) .icon svg path {
  stroke: var(--primary);
}

.sidebar .submenu .submenu-link:hover:not(.active) .text {
  color: var(--primary);
}

.sidebar .submenu .submenu-link.active .icon svg path {
  stroke: var(--primary);
}

.sidebar .submenu .submenu-link.active .text {
  color: var(--primary);
}

.sidebar .m-link .linktitle {
  color: var(--linktext);
}

.sidebar .sub-menu .ms-link {
  color: var(--linktext);
}

.menu-list {
  display: flex;
  flex-direction: column;
  gap: .25rem;
}

.sidebar .menu-list .menu-list-link {
  background: var(--white);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: .75rem .25rem .75rem 1.25rem;
  height: 3.125rem;
  border-right: .375rem solid var(--white);
  transition: all 500ms ease;
}

.sidebar .menu-list .menu-list-link:not(.collapsed) .arrowicon {
  transform: rotateX(180deg);
}

.sidebar .menu-list .menu-list-link:hover:not(.active) {
  background: var(--hoverbg);
  border-color: var(--primary);
}

.sidebar .menu-list .menu-list-link:hover:not(.active) .linktitle {
  color: var(--primary);
}

.sidebar .menu-list .menu-list-link:hover:not(.active) .icon svg path,
.sidebar .menu-list .menu-list-link:hover:not(.active) .icon svg circle,
.sidebar .menu-list .menu-list-link:hover:not(.active) .arrowicon svg path {
  stroke: var(--primary);
}

.sidebar .menu-list .menu-list-link.active {
  background: var(--hoverbg);
  border-color: var(--primary);
}

.sidebar .menu-list .menu-list-link.active .linktitle {
  color: var(--primary);
}

.sidebar .menu-list .menu-list-link.active .icon svg path,
.sidebar .menu-list .menu-list-link.active .icon svg circle,
.sidebar .menu-list .menu-list-link.active .arrowicon svg path {
  stroke: var(--primary);
}

.sidebar .menu-list .menu-list-link .icontitle {
  display: flex;
  align-items: center;
  gap: .75rem;
}

.sidebar .menu-list .menu-list-link .icontitle .icon svg path {
  stroke: var(--linktext);
}

.sidebar .menu-list .menu-list-link .arrowicon svg path {
  stroke: var(--linktext);
}

.linktitle {
  color: var(--linktext);
}

.sidebar .menu-list .menu-list-link.active .icontitle .icon svg path {
  stroke: var(--primary);
}

.sidebar .menu-list::-webkit-scrollbar {
  background: var(--white);
  width: 0;
}

.sidebar .menu-list::-webkit-scrollbar-thumb {
  width: 0;
}

.sidebar .sidebar-mini-btn .arricon {
  width: 2.25rem;
  height: 2.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-inline: auto;
}

.sidebar.sidebar-mini .sidebar-mini-btn .arricon {
  transform: rotate(180deg);
}

.switchlabel {
  position: relative;
}

.switchlabel::before,
.switchlabel::after {
  content: '';
  position: absolute;
}

.switchlabel::before {
  content: "";
  width: 75px;
  height: 42px;
  background: #ccc;
  display: inline-block;
  border-radius: 46px;
  box-sizing: border-box;
  transition: 0.2s ease-in;
}

.switchlabel::after {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  left: 2px;
  top: 2px;
  z-index: 2;
  background: #fff;
  box-sizing: border-box;
  transition: 0.2s ease-in;
}

.btn-solar {
  background: transparent;
  border: 0;
  display: flex;
  align-items: center;
  gap: .625rem;
}

.btn-solar .icontext {
  display: flex;
  align-items: center;
  gap: .625rem;
}

.btn-solar .arrowicon {
  margin-top: .25rem;
}

.btn-solar .icontext .icon {
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.btn-solar .icontext .text {
  color: var(--linktext);
  font-size: .875rem;
  font-weight: 600;
}

@media screen and (min-width: 62rem) {
  .btn-solar .icontext .text {
    font-size: 1rem;
  }
}

.btn-solar .arrowicon {
  width: 1.25rem;
  height: 1.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.btn-change {
  font-size: .875rem;
  font-weight: 500;
  text-decoration: underline;
}

.btn-change:hover {
  color: var(--primary);
}

.chattitle {
  font-size: 1.375rem;
  font-weight: 600;
}

.card {
  border: .0625rem solid var(--sideborder);
  border-radius: 0;
}

.header {
  background: var(--white);
  border-bottom: .0625rem solid var(--sideborder);
}

.chatbody .nav-pills {
  border-bottom: .0625rem solid var(--sideborder);
}

.chatbody .nav-pills .nav-link {
  background: var(--white);
  color: var(--tabcolor);
  border-bottom: .25rem solid var(--white);
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  border-radius: 0;
  margin: 0;
}

.chatbody .nav-pills .nav-link.active {
  color: var(--primary);
  border-color: var(--primary);
}

.chatuser {
  display: flex;
  gap: .75rem;
}

.chatuser .chatuser-thumb {
  width: 3.125rem;
  height: 3.125rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.chatuser .chatuser-thumb .thumbnail {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.chatuser .chatuser-thumb .thumbnail img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.chatuser .chatuser-thumb .icon {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 100;
}

.chatuser .chatuser-thumb .icon {
  width: .625rem;
  height: .625rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.chatuser .chatuser-thumb .icon svg {
  width: 100%;
  height: 100%;
}

.chatuser.active .chatuser-thumb .icon svg circle {
  fill: var(--activecolor);
}

.chatuser .chatuser-details {
  display: flex;
  flex-direction: column;
  gap: .75rem;
  width: calc(100% - 3.875rem);
}

.chatuser .chatuser-details .name {
  color: var(--namecolor);
  font-size: .875rem;
  font-weight: 500;
}

.chatuser.unread .chatuser-details .name {
  color: var(--linktext);
  font-weight: 600;
}

.chatuser .chatuser-details .time {
  color: var(--namecolor);
  font-size: .75rem;
  font-weight: 400;
}

.chatuser .chatuser-details .messagebox {
  display: flex;
  gap: .5rem;
}

.chatuser .chatuser-details .messagebox .message {
  width: calc(100% - 1.75rem);
  color: var(--namecolor);
  font-size: .875rem;
  font-weight: 400;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.chatuser.unread .chatuser-details .messagebox .message {
  color: var(--linktext);
  font-weight: 600;
}

.chatuser .chatuser-details .messagebox .messagecount {
  width: 1.25rem;
  height: 1.25rem;
  font-size: .625rem;
  font-weight: 700;
  background: var(--primary);
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 100%;
  opacity: 0;
  visibility: hidden;
}

.chatuser.unread .chatuser-details .messagebox .messagecount {
  opacity: 1;
  visibility: visible;
}

.groupchat {
  display: flex;
  gap: .75rem;
}

.groupchat-thumbnail {
  background: var(--groupuserbg);
  width: 3.125rem;
  height: 3.125rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: .75rem;
  border-radius: 100%;
}

.groupchat-thumbnail img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.groupchat-details {
  display: flex;
  flex-direction: column;
  gap: .75rem;
  width: calc(100% - 3.875rem);
}

.groupchat .groupchat-details .name {
  color: var(--namecolor);
  font-size: .875rem;
  font-weight: 600;
}

.groupchat .groupchat-details .lockicon {
  width: 1rem;
  height: 1rem;
  display: none;
}

.groupchat.chatlock .groupchat-details .lockicon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.groupchat .groupchat-details .lockicon svg {
  width: 100%;
  height: 100%;
}

.groupchat .groupchat-details .time {
  color: var(--namecolor);
  font-size: .75rem;
  font-weight: 400;
}

.groupchat .groupchat-details .message {
  color: var(--namecolor);
  font-size: .875rem;
  font-weight: 500;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.btn-createchat {
  background: var(--white);
  border: .0625rem solid var(--sideborder);
  border: 0;
  display: flex;
  align-items: center;
  gap: .75rem;
  width: 100%;
  padding: .875rem;
  max-width: 20.75rem;
  margin-inline: auto;
}

.btn-createchat .icon {
  width: 3.125rem;
  height: 3.125rem;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-createchat .icon svg {
  width: 100%;
  height: 100%;
}

.btn-createchat .text {
  color: var(--linktext);
  font-size: .875rem;
  font-weight: 500;
}

.btn-createchat:hover .text {
  color: var(--primary);
}

.btn-createchat:hover .icon svg path {
  stroke: var(--primary) !important;
}

textarea {
  background: transparent;
  resize: none;
  width: 100%;
}

.createchat {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 20.75rem;
  margin-inline: auto;
}

.createchat .inputs {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.createchat .inputfield {
  border: .0625rem solid var(--sideborder);
  border-radius: .5rem;
  background: var(--inputbg);
  color: var(--linktext);
  font-size: .875rem;
  font-style: normal;
  font-weight: 500;
  padding: .75rem 1.125rem;
  transition: all 500ms ease;
}

.createchat .inputfield:focus {
  border-color: var(--namecolor);
  outline: none;
}

.createchat .inputfield::placeholder {
  color: var(--textplaceholder);
}

.theme-dark .dropdown-toggle svg path:first-of-type,
.theme-dark .dropdown-toggle svg path:last-of-type {
  stroke: var(--linktext);
}

.customradio .radiolabel {
  color: var(--linktext);
  cursor: pointer;
  font-size: .875rem;
  font-weight: 500;
  position: relative;
  padding-left: 2.25rem;
}

.customradio .radiolabel::before,
.customradio .radiolabel::after {
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.customradio .radiolabel::before {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 100%;
  background: var(--white);
  border: .0625rem solid var(--sideborder);
  left: 0;
}

.customradio .radiolabel::after {
  width: .625rem;
  height: .625rem;
  border-radius: 100%;
  left: 7px;
  background: var(--white);
  opacity: 0;
  visibility: hidden;
  transition: all 500ms ease;
}

.customradio .radiofield:checked ~ .radiolabel::before {
  background: var(--primary);
  border-color: var(--primary);
}

.customradio .radiofield:checked ~ .radiolabel::after {
  opacity: 1;
  visibility: visible;
}

.tawk-button {
  background: var(--primary) !important;
}

.brand-icon .whitelogo {
  display: none;
}

[data-theme="dark"] .brand-icon .whitelogo {
  display: block;
}

[data-theme="dark"] .brand-icon .full-logo {
  display: none;
}

[data-theme="dark"] .btn-createchat .icon svg path {
  stroke: var(--linktext);
}

.btn-cancel,
.btn-create {
  font-size: .875rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: .625rem 1rem;
  text-align: center;
  transition: all 500ms ease;
}

.btn-cancel {
  color: var(--linktext);
}

.btn-cancel:hover {
  color: var(--primary);
}

.btn-create {
  background: var(--primary);
  color: var(--white);
  border-radius: .5rem;
  min-width: 5rem;
}

.btn-create:hover {
  background: var(--hover);
}

[data-theme="dark"] .btn-create {
  color: var(--linktext);
}

.btn-reset {
  background: var(--resetbg);
  color: var(--resetcolor);
  border-radius: .5rem;
  font-size: .875rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.625rem 1rem;
  text-align: center;
  transition: all 500ms ease;
  min-width: 5rem;
}

.btn-reset:hover {
  background: var(--resetcolor);
  color: var(--resetbg);
}

[data-theme="dark"] .btn-reset {
  color: var(--linktext);
}

[data-theme="dark"] .notifications .pulse svg .path-1,
[data-theme="dark"] .notifications .pulse svg .path-2 {
  stroke: var(--linktext);
}

.userinfo {
  display: flex;
  align-items: center;
  gap: .625rem;
}

.userinfo .thumbnailbox {
  position: relative;
  width: 2.125rem;
  height: 2.125rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.userinfo .thumbnailbox .usrthumb {
  width: 2.125rem;
  height: 2.125rem;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.userinfo .thumbnailbox .usrthumb img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.userinfo .thumbnailbox .icon {
  width: .625rem;
  height: .625rem;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 100;
}

.userinfo.active .thumbnailbox .icon svg circle {
  fill: var(--activecolor);
}

.userinfo .userdetail {
  display: flex;
  flex-direction: column;
}

.userinfo .userdetail .usrname {
  font-size: .875rem;
  font-weight: 600;
}

.userinfo .userdetail .usractivestatus {
  font-size: .75rem;
  font-weight: 400;
}

.btn-chat {
  width: 2rem;
  height: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.btn-chat svg {
  width: 100%;
  height: 100%;
}

.btn-chat:hover svg path {
  stroke: var(--primary)
}

.btn-chat:hover svg ellipse {
  stroke: var(--primary)
}

.btn-mobchat {
  display: flex;
  align-items: center;
  gap: .5rem;
  padding: .5rem 1rem;
}

.btn-mobchat .icon {
  width: 2rem;
  height: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-mobchat .text {
  font-size: .8125rem;
}

.btn-mobchat:hover svg path {
  stroke: var(--primary)
}

.btn-mobchat:hover svg ellipse {
  stroke: var(--primary)
}

.btn-mobchat:hover .text {
  color: var(--primary);
}

[data-theme="dark"] .btn-mobchat:hover svg path {
  stroke: var(--linktext)
}

[data-theme="dark"] .btn-mobchat svg path {
  stroke: var(--linktext)
}

[data-theme="dark"] .btn-mobchat svg ellipse {
  stroke: var(--linktext)
}

[data-theme="dark"] .btn-mobchat .text {
  color: var(--linktext);
}

[data-theme="dark"] .btn-mobchat:hover .text {
  color: var(--primary);
}

[data-theme="dark"] .btn-mobchat:hover svg path {
  stroke: var(--primary);
}

[data-theme="dark"] .btn-mobchat:hover svg ellipse {
  stroke: var(--primary);
}

.notifications .card .card-header {
  background: var(--primary);
}

.bg-primary {
  background: var(--primary) !important;
}

.bg-chat {
  background: var(--inputbg);
  max-width: 17.5rem;
}

.card-chat-body .text-right .message {
  color: var(--linktext);
  font-size: .75rem;
  font-weight: 400;
}

.emptychat {
  max-width: 24.75rem;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 1.5rem;
}

.emptychat-thumb {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 12.75rem;
  height: 12.75rem;
  overflow: hidden;
}

.emptychat .info .text {
  color: var(--linktext);
  font-size: .9375rem;
  font-weight: 400;
}

.logotitle {
  color: var(--linktext);
  font-weight: 700;
}

.marked {
  color: var(--primary);
  font-weight: 700;
}

.chat-history .leftcontent,
.chat-history .rightcontent {
  display: flex;
  align-items: center;
  gap: .5rem;
}

.chat-history .leftcontent .btn-chatdropdown,
.chat-history .rightcontent .btn-chatdropdown {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  cursor: pointer;
}

.chat-history .leftcontent .btn-chatdropdown svg,
.chat-history .rightcontent .btn-chatdropdown svg {
  width: 100%;
  height: 100%;
}

.chat-history .leftcontent .chatbox,
.chat-history .rightcontent .chatbox {
  background: var(--inputbg);
  border-radius: .75rem;
  display: flex;
  flex-direction: column;
  padding: 1rem 1.5rem;
  max-width: 17.375rem;
}

.chat-history .leftcontent .chatbox .message,
.chat-history .rightcontent .chatbox .message{
  color: var(--linktext);
  font-size: .75rem;
  font-weight: 400;
}

.chat-history .leftcontent .chatbox .datetime,
.chat-history .rightcontent .chatbox .datetime {
  color: var(--namecolor);
  font-size: .6875rem;
  font-weight: 400;
}

.chat-history .dropdown .dropdown-menu {
  border: .0625rem solid var(--sideborder);
  border-radius: .625rem;
  overflow: hidden;
  padding: 1.25rem;
}

.chat-history .dropdown .dropdown-item {
  color: var(--linktext);
  font-size: .875rem;
  font-weight: 400;
  padding: 0;
  margin-bottom: .75rem;
}

.chat-history .dropdown .dropdown-menu li:last-child .dropdown-item {
  margin-bottom: 0;
}

.chat-history .dropdown .dropdown-item:hover {
  background: transparent;
  color: var(--primary);
}

[data-theme="dark"] .chat-history .dropdown .dropdown-item:hover {
  background: transparent;
  color: var(--primary);
}

[data-theme="dark"] .chat-history .dropdown .btn-chatdropdown svg path {
  stroke: var(--linktext);
}

[data-theme="dark"] .chat-history .chat-header {
  border-color: var(--sideborder) !important;
}

[data-theme="dark"] .border-bottom {
  border-color: var(--sideborder) !important;
}

.chattingmessages {
  width: 100%;
  border: .0625rem solid var(--sideborder);
  border-radius: .625rem;
  padding: 1.25rem 1.25rem 5rem;
  background: var(--white);
}

@media screen and (min-width: 62rem) {
  .chattingmessages {
    padding: 1.25rem;
  }
}

.chattingmessages textarea {
  border: none;
  font-size: .875rem;
  font-weight: 400;
  color: var(--linktext);
}

.chattingmessages textarea::placeholder {
  color: var(--namecolor);
}

.groupuser {
  display: flex;
  align-items: center;
  gap: .5rem;
}

.groupuser .thumb {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.75rem;
  height: 1.75rem;
  border-radius: 100%;
  overflow: hidden;
  margin: 0;
}

.groupuser .thumb img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.groupuser .usrname {
  color: var(--namecolor);
  font-size: .875rem;
  font-weight: 500;
  margin: 0;
}

.replytext {
  color: var(--namecolor);
  font-size: .6875rem;
  font-weight: 400;
  padding-left: 1.5rem;
}

.supportticketbox,
.support-ticket,
.similardata {
  padding: 1rem;
}

@media screen and (min-width: 62rem) {
  .supportticketbox,
  .support-ticket,
  .similardata {
    padding: 1.5rem;
  }  
}

.support-ticket {
  background: var(--white);
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  border: .0625rem solid var(--sideborder);
  border-radius: .625rem;
}

.support-ticket-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: .0625rem solid var(--sideborder);
  padding-bottom: 1.25rem;
}

.supporttitle {
  color: var(--linktext);
  font-weight: 600;
  font-size: 1rem;
}

@media screen and (min-width: 48rem) {
  .supporttitle {
    font-size: 1.375rem;
  }  
}

.support-ticket-body {
  display: flex;
  flex-direction: column;
  gap: .75rem;
}

#patient-table_wrapper {
  padding-bottom: 1.25rem;
}

.table-responsive::-webkit-scrollbar {
  background: transparent;
  height: .3125rem;
  width: .5rem;
  border-radius: 2rem;
}

.table-responsive::-webkit-scrollbar-thumb {
  background: transparent;
  height: .3125rem;
  width: .5rem;
  border-radius: 2rem;
}

.page-item.active .page-link {
  background: var(--primary) !important;
  border-color: var(--primary) !important;
  color: var(--white) !important;
}

.btn-close {
  background: transparent;
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
  transition: transform 500ms ease;
}

.btn-close:focus {
  box-shadow: none;
}

.btn-close svg {
  width: 100%;
  height: 100%;
}

.btn-close:hover {
  transform: rotate(90deg);
}

.btn-close:hover svg path {
  stroke: var(--primary);
}

.searchform {
  background: var(--white);
  box-shadow: var(--selectshadow);
  border-radius: .375rem;
  display: flex;
  gap: .5rem;
  padding: .375rem .75rem;
  width: 100%;
}

.searchform .btn-search {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.searchform .searchfield {
  border: 0;
  background: transparent;
  color: var(--linktext);
  font-size: .875rem;
  font-weight: 400;
}

.ticketmodal .modal-header .modaltitle {
  color: var(--linktext);
  font-size: .875rem;
  font-weight: 700;
  letter-spacing: .035rem;
  text-transform: uppercase;
  margin-bottom: 0;
}

.openbadge {
  background: var(--openbadgebg);
  color: var(--activecolor);
  border-radius: 1.25rem;
  display: inline-block;
  font-size: .75rem;
  font-weight: 500;
  text-align: center;
  padding: .25rem .75rem;
}

.ticketstatus {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form-switch .form-check-input {
  cursor: pointer;
}

.form-switch .form-check-input:focus {
  border-color: var(--primary);
}

.form-switch .form-check-input:focus:not(:checked) {
  border-color: rgba(0, 0, 0, 0.25);
}

.form-switch .form-check-input:focus:not(:checked) {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba%280,0,0,0.25%29'/%3e%3c/svg%3e");
}

.ticketstatus .form-switch .form-check-label {
  color: var(--linktext);
  font-size: .8125rem;
  font-weight: 400;
  padding-left: .3125rem;
  cursor: pointer;
  margin-top: .25rem;
}

.selectbox,
.inputbox {
  display: flex;
  flex-direction: column;
  gap: .75rem;
}

.selectbox .selectlabel {
  color: var(--linktext);
  font-size: .8125rem;
  font-weight: 400;
}

.form-select {
  background-color: var(--white);
  box-shadow: var(--selectshadow);
  color: var(--linktext);
  cursor: pointer;
  font-size: .75rem;
  font-weight: 400;
  border-radius: 0;
  height: 2.5rem;
  padding: .375rem .75rem;
}

.inputbox .inputlabel {
  color: var(--linktext);
  font-size: .8125rem;
  font-weight: 400;
}

.inputbox .inputfield {
  background: var(--white);
  box-shadow: var(--selectshadow);
  border: solid .0625rem transparent;
  color: var(--linktext);
  font-size: .75rem;
  font-weight: 400;
  border-radius: 0;
  height: 2.5rem;
  padding: .375rem .75rem;
  transition: all 500ms ease;
}

.inputbox .inputfield:focus {
  border-color: var(--primary);
}

.form-check-input:focus {
  outline: none;
  box-shadow: none;
}

.support-ticket-body .leftcontent {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.support-ticket-body .leftcontent .actions {
  display: flex;
  gap: 1rem;
}

.supportselect {
  min-width: 17.8125rem;
}

.support-ticket-body .table thead {
  background: var(--theadbg);
}

.support-ticket-body .table thead .sorting {
  font-size: .6875rem;
  font-weight: 600;
}

.table>:not(caption)>*>* {
  padding: .25rem .5rem;
}

.support-ticket-body .table tbody td {
  color: var(--linktext);
  font-size: .75rem;
  font-weight: 400;
}

.badge-table {
  border-radius: 1.25rem;
  display: inline-block;
  font-size: .75rem;
  font-weight: 500;
  padding: .25rem .75rem;
  letter-spacing: .0225rem;
  text-align: center;
}

.badge-table.high {
  background: var(--highbg);
  color: var(--highcolor);
}

.badge-table.medium {
  background: var(--mediumbg);
  color: var(--mediumcolor);
}

.badge-table.low {
  background: var(--lowbg);
  color: var(--black);
}

.badgeopen {
  background: var(--openbadgebg);
  color: var(--activecolor);
  border-radius: 1.25rem;
  display: inline-block;
  font-size: .75rem;
  font-weight: 500;
  text-align: center;
  padding: .25rem .75rem;
}

@media screen and (min-width: 62rem) {
  .support-ticket-body .leftcontent {
    flex-wrap: nowrap;
  }

  .supportselect {
    min-width: 9rem;
  }

  .searchform {
    width: auto;
  }
}

@media screen and (min-width: 112.5rem) {
  .supportselect {
    min-width: 17.8125rem;
  }
}

[data-theme="dark"] .table thead {
  background: var(--sideborder);
  color: var(--linktext);
}

.sidebar .form-check {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0;
  padding: .75rem 1.25rem;
}

.sidebar .theme-switch .form-check-label {
  padding: 0;
  display: flex;
  gap: .75rem;
  cursor: pointer;
}

.sidebar .theme-switch .form-check-label .text {
  color: var(--linktext);
  font-size: .875rem;
  font-weight: 400;
  display: block;
  margin-top: .1875rem;
}

.sidebar .theme-switch .form-check-label .icon svg g path {
  stroke: var(--linktext);
}

.form-switch .form-check-input:checked {
  background-color: var(--primary);
  border-color: var(--primary);
}

.sidebar.sidebar-mini .form-check {
  width: auto;
  padding: 0;
}

.form-switch .form-check-input {
  width: 2.5rem;
  height: 1.25rem;
}

.messagereplybox .replyinput {
  background: var(--replybg);
  border-color: var(--replybg);
  color: var(--linktext);
  font-size: .875rem;
  font-weight: 400;
  min-height: 8.75rem;
  padding: .9375rem;
  border-radius: .625rem;
  transition: all 500ms ease;
}

.messagereplybox .replyinput::placeholder {
  color: var(--namecolor);
}

.messagereplybox .replyinput:focus {
  border-color: var(--primary);
  background: var(--white);
}

[data-theme="dark"] .messagereplybox .replyinput {
  background: transparent;
}

[data-theme="dark"] .btn-close svg path {
  stroke: var(--linktext);
}

[data-theme="dark"] .btn-close:hover svg path {
  stroke: var(--primary);
}

[data-theme="dark"] .modal-header,
[data-theme="dark"] .modal-footer {
  border-color: var(--textplaceholder);
}

[data-theme="dark"] .btn-solar .icontext .icon svg path,
[data-theme="dark"] .btn-solar .arrowicon svg path {
  stroke: var(--linktext);
}

.support-ticket-body .leftinfo {
  display: flex;
  flex-wrap: wrap;
  gap: .75rem;
}

.support-ticket-body .leftinfo .status {
  background: var(--white);
  border-radius: .375rem;
  box-shadow: var(--selectshadow);
  display: inline-flex;
  align-items: center;
  gap: .5rem;
  padding: .375rem .75rem;
}

.support-ticket-body .leftinfo .status .title {
  color: var(--resetcolor);
  font-size: .875rem;
  font-weight: 500;
}

.support-ticket-body .leftinfo .status .creatorname {
  color: var(--creatortext);
  font-size: .875rem;
  font-weight: 600;
}

[data-theme="dark"] .support-ticket-body .leftinfo .status .title,
[data-theme="dark"] .support-ticket-body .leftinfo .status .creatorname {
  color: var(--linktext);
}

[data-theme="dark"] .support-ticket-body .leftinfo .status .btn-edit svg g path {
  stroke: var(--linktext);
}

[data-theme="dark"] .support-ticket-body .leftinfo .status .btn-edit:hover svg g path {
  stroke: var(--primary);
}

.ticketdetails .table {
  background: var(--white);
  border: .0625rem solid var(--sideborder);
  border-radius: .625rem;
  padding: 1rem;
  margin: 0;
  overflow: hidden;
}

[data-theme="dark"] .ticketdetails .table {
  background: var(--bodybg);
}

.ticketdetails .table tbody tr td:first-child {
  min-width: 10rem;
  font-size: .875rem;
  font-weight: 600;
}

.ticketdetails .table tbody tr td:first-child .text-end {
  font-size: .875rem;
  font-weight: 600;
}

.ticketdetails .table tbody tr td {
  font-size: .875rem;
  font-weight: 400;
}

.ticketdetails .table>:not(caption)>*>* {
  padding: .75rem 1.25rem;
  vertical-align: top;
}

[data-theme="dark"] .ticketdetails .table>:not(caption)>*>* {
  border-color: var(--sideborder);
}

.ticketchat {
  background: var(--white);
  border: .0625rem solid var(--sideborder);
  border-radius: .625rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  margin: 0;
  overflow: hidden;
}

.ticketchat-header {
  border-bottom: .0625rem solid var(--sideborder);
  padding-bottom: 1rem;
}

.ticketchat-header .title {
  color: var(--linktext);
  font-size: .875rem;
  font-weight: 700;
  letter-spacing: .035rem;
  text-transform: uppercase;
}

input[type="file"] {
  cursor: pointer;
}

.ticketchat-body .replyattachment {
  border-bottom: .0625rem solid var(--sideborder);
  padding-bottom: 1rem;
}

.ticketchat-body .replyattachment .attachments {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  padding-top: .875rem;
}

.ticketchat-body .replyattachment .attachments .title {
  color: var(--linktext);
  font-size: .875rem;
  font-weight: 500;
}

.ticketchat-body .replylist {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-top: 1.25rem;
  padding-bottom: 2rem;
}

.ticketchat-body .replylist .myreply {
  border-bottom: .0625rem solid var(--sideborder);
  display: flex;
  flex-direction: column;
  gap: .75rem;
  padding-bottom: 1rem;
}

.ticketchat-body .replylist .myreply:last-of-type {
  border-bottom: 0;
}

.ticketchat-body .replylist .myreply .myreply-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ticketchat-body .replylist .myreply .myreply-header .userinfobox {
  display: flex;
  align-items: center;
  gap: .75rem;
}

.ticketchat-body .replylist .myreply .myreply-header .userinfobox .useravatar {
  width: 2rem;
  height: 2rem;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  margin: 0;
}

.ticketchat-body .replylist .myreply .myreply-header .userinfobox .useravatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.ticketchat-body .replylist .myreply .myreply-header .userinfobox .name {
  color: var(--linktext);
  font-size: .875rem;
  font-weight: 500;
  margin: 0;
}

.ticketchat-body .replylist .myreply .myreply-header .time,
.ticketchat-body .replylist .myreply .myreply-header .date {
  color: var(--replybg);
  font-size: .625rem;
  font-weight: 400;
}

.ticketchat-body .replylist .myreply .myreply-body {
  display: flex;
  flex-direction: column;
  gap: .75rem;
}

.ticketchat-body .replylist .myreply .myreply-body .info .text {
  color: var(--resetcolor);
  font-size: .8125rem;
  font-weight: 400;
}

[data-theme="dark"] .ticketchat-body .replylist .myreply .myreply-body .info .text {
  color: var(--namecolor);
}

.btn-pdf {
  display: inline-flex;
  align-items: center;
  gap: .5rem;
  border-radius: .5rem;
  background: var(--pdfbg);
  padding: .625rem;
  max-width: 15rem;
}

.btn-pdf .icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-pdf .text {
  color: var(--primary);
  font-size: .8125rem;
  font-weight: 400;
  text-decoration: underline;
}

.btn-pdf:hover {
  background: var(--primary);
}

.btn-pdf:hover .icon svg path  {
  stroke: var(--pdfbg);
}

.btn-pdf:hover .text  {
  color: var(--pdfbg);
  text-decoration: none;
}

div.dataTables_wrapper div.dataTables_length select {
  width: 4rem !important;
}


/* .dataTables_length,
.dataTables_paginate,
.dataTables_info {
  max-width: 10rem;
} */

.mycategorytable .dataTables_paginate,
.mycategorytable .dataTables_info {
  max-width: 10rem;
}

.mycategorytable .dataTables_paginate {
  margin-left: auto !important;
}

.mycategorytable .dataTables_info {
  padding: 0 !important;
  margin-top: -1.5rem;
}

.table-responsive {
  overflow-y: scroll;
}

.mycategorytable .table thead {
  background: var(--theadbg);
  border-top-left-radius: .625rem;
  border-top-right-radius: .625rem;
}

.mycategorytable .table thead tr th {
  color: var(--resetcolor);
  font-size: .6875rem;
  font-weight: 600;
  letter-spacing: .0275rem;
  text-transform: uppercase;
}

.mycategorytable .table tbody {
  border-bottom-left-radius: .625rem;
  border-bottom-right-radius: .625rem;
}

.mycategorytable .table tbody .actions {
  display: flex;
  align-items: center;
  gap: .625rem;
}

.mycategorytable .table>:not(caption)>*>* {
  padding: .625rem;
}

.activestatus,
.inactivestatus {
  border-radius: 3rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: .6875rem;
  font-weight: 500;
  letter-spacing: .0225rem;
  padding: .25rem .625rem;
  text-align: center;
}

.activestatus {
  background: var(--openbadgebg);
  color: var(--activetext);
}

.inactivestatus {
  background: var(--highbg);
  color: var(--highcolor);
}

.deleteinfo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.deleteinfo .title {
  color: var(--linktext);
  font-size: .875rem;
  font-weight: 700;
  letter-spacing: .035rem;
  text-transform: uppercase;
  margin-bottom: 0;
  text-align: center;
}

.similardata {
  background: var(--white);
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  border: .0625rem solid var(--sideborder);
  border-radius: .625rem;
}

.similardata-header {
  display: flex;
  align-items: center;
  border-bottom: .0625rem solid var(--sideborder);
  padding-bottom: 1.25rem;
}

.similardata-header .similartitle {
  color: var(--creatortext);
  font-size: .875rem;
  font-weight: 700;
  letter-spacing: .035rem;
  text-transform: uppercase;
}

.similardata-body {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.similarlist {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: .5rem;
  margin: 0;
  padding: 0;
}

.similarlist-link {
  display: flex;
  gap: .5rem;
  transition: all 500ms ease;
}

.similarlist-link .counter {
  background: var(--resetcolor);
  color: var(--white);
  font-size: .75rem;
  font-weight: 600;
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 100%;
  padding: .625rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.similarlist-link .text {
  color: var(--primary);
  width: calc(100% - 1.75rem);
  font-size: .8125rem;
  font-weight: 400;
  text-decoration: underline;
}

.similarlist-link:hover .text {
  color: var(--hover);
  text-decoration: none;
}

.similardata-body .similarinfo {
  display: flex;
  flex-direction: column;
  gap: .75rem;
}

.similardatainfo {
  border-bottom: solid .0625rem var(--sideborder);
  padding-bottom: 1.5rem;
}

.similardatainfo:last-of-type {
  border-bottom: 0;
}

.similardata-body .similarinfo-header,
.similardata-body .similarinfo-body {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.similardata-body .similarinfo-header .title {
  color: var(--resetcolor);
  font-size: .875rem;
  font-weight: 400;
}

.similardata-body .similarinfo-header .title span {
  color: inherit;
  font-size: inherit;
  font-weight: 700;
}

.similardata-body .similarinfo-header .text {
  color: var(--resetcolor);
  font-size: .875rem;
  font-weight: 600;
}

@media screen and (min-width: 48rem) {
  .ticketdetails .table {
    padding: 1.25rem;
  }

  .ticketchat {
    padding: 1.25rem;
  }
}