@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

body {
  font-family: "Inter", sans-serif;
}

#staticBackdrop .modal-dialog-centered {

  min-width: 95%;
  border-radius: 24px;
  align-items: flex-start;
}

.modal .modal-content {
  min-height: 1159px;
}

#staticBackdrop .modal-header {
  border: none;
}

#staticBackdrop .header-text h2 {
  color: #141B34;
  font-size: 20px;
  font-weight: 700;
  text-transform: capitalize;
}

#staticBackdrop .inner-modal-body {
  grid-template-columns: 2fr 1fr;
}

#staticBackdrop .todo-status {
  grid-template-columns: repeat(5, 1fr);
  justify-content: space-between;
}

#staticBackdrop .todo-status .title {
  color: #686D82;
  font-size: 14px;
  text-transform: capitalize;
}

#staticBackdrop .status .innder-button button {
  border-radius: 4px;
  background: #4CAF50;
  cursor: pointer;
  color: #FFF;
  font-size: 14px;
  font-weight: 600;
  text-transform: capitalize;
  margin-top: 11px;
}

#staticBackdrop .status .innder-button button span {
  border-right: 1px dashed #fff;
  padding: 8px 7px 8px 6px;
}

#staticBackdrop .status .innder-button button img {
  padding: 8px 5px 8px 7px;
}

#staticBackdrop .date img {
  width: 17px;
  align-self: flex-start;
  margin-top: 3px;
}

#staticBackdrop .date {
  gap: 5px;
}

#staticBackdrop .date p,
#time::placeholder,
#time {
  color: #141B34;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  text-transform: capitalize;
}

#staticBackdrop .inner-modal-body .description {
  width: 96%;
  margin-top: 30px;
  border-radius: 12px;
  background: #F7F7FA;
}

#staticBackdrop .inner-modal-body .description form {
  padding: 30px 13px;
}

#staticBackdrop .inner-modal-body .description input {
  width: 95%;
  border: none;
  outline: none;
  background-color: transparent;
}

#staticBackdrop .inner-modal-body .description input::placeholder {
  color: #ADAFB5;
  font-size: 14px;
  line-height: 20px;
  text-transform: capitalize;
}

#staticBackdrop .activity-side {
  border: 1px solid #E3E4E8;
  height: 999px;
  position: relative;
}

#staticBackdrop .activity-side .activity-header {
  border-bottom: 1px solid #E3E4E8;
  padding: 12px 15px;
  align-items: center;
  /* position: fixed; */
}

#staticBackdrop .activity-side ul {
  overflow-y: scroll;
  height: 750px;
  padding-top: 24px;
}

#staticBackdrop .activity-side ul .hide {
  margin: 15px 0 15px -15px;
}

#staticBackdrop .activity-side ul li {
  color: #464F60;
  font-size: 12px;
}

#staticBackdrop .activity-side ul .reply-section {
  border-radius: 7px;
  border: 1px solid #E3E4E8;
  background: #FFF;
  margin: 30px 5px 0 -15px;
}

#staticBackdrop .activity-side .reply-section .text p {
  color: #686D82;
  font-size: 14px;
  font-weight: 400;
}

#staticBackdrop .activity-side .reply-section .text span {
  color: #A2A5B4;
  font-size: 12px;
  font-weight: 400;
  text-transform: capitalize;
  margin-top: 4px;
}

#staticBackdrop .activity-side .reply-section form {
  padding-top: 15px;

}

#staticBackdrop .activity-side .reply-section form input {
  outline: none;
  border: none;
  width: 100%;
}

#staticBackdrop .activity-side .reply-section .reply-footer {
  border-top: 1px solid #E3E4E8;
}

#staticBackdrop .activity-side .reply-section .image img {
  cursor: pointer;
}

#staticBackdrop .activity-side .reply-section .reply p {
  color: #141B34;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
}

#staticBackdrop .activity-side {
  position: relative;
}

#staticBackdrop .activity-side .textarea {
  background-color: #fff;
  padding: 16px 20px;
  border-top: 1px solid #E3E4E8;
  /* position: fixed;
  bottom: 50px;
  width: 380px; */
}

#staticBackdrop .activity-side .textarea .inner-textarea {
  border-radius: 7px;
  border: 1px solid rgba(255, 100, 90, 0.65);
  background: #FFF;
}

#staticBackdrop .activity-side .inner-textarea input {
  outline: none;
  border: none;
  padding: 18px;
  width: 100%;
}

#staticBackdrop .activity-side .inner-textarea .textarea-footer {
  border-radius: 5px;
  background: #F8F8F8;
  padding: 10px 12px;
}

#staticBackdrop .activity-side .inner-textarea .textarea-footer .b {
  color: #686D82;
  text-align: center;
  font-size: 22px;
  font-weight: 500;
}

#staticBackdrop .activity-side .inner-textarea .textarea-footer .i {
  color: #686D82;
  text-align: center;
  font-size: 24px;
  font-style: italic;
  font-weight: 400;
}

#staticBackdrop .activity-side .inner-textarea .textarea-footer .s {
  color: #686D82;
  text-align: center;
  font-size: 28px;
  font-weight: 300;
}

#staticBackdrop .activity-side .inner-textarea .textarea-footer button {
  padding: 6px 14px;
  gap: 10px;
  border-radius: 4px;
  background: #FF645A;
  color: #FFF;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: -0.16px;
}

#time {
  outline: none;
  border: none;
  width: 100px;
  background-color: transparent;
  cursor: pointer;
}

.inner-time-picker {
  position: absolute;
  display: inline-block;
  padding: 10px;
  border-radius: 6px;
  border-radius: 8px;
  border: 0.5px solid rgba(31, 41, 55, 0.15);
  background: #FFF;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
}



.inner-modal-body .write-description .inner-description {
  width: 95%;
  border-radius: 12px;
  background: #F7F7FA;
}

.write-description .inner-description textarea {
  height: 200px;
  border: none;
  outline: none;
  border-bottom: 1px solid #D8D1F4;
  padding-left: 15px;
}

.write-description .inner-description .write-description-footer {
  padding: 21px 10px 15px 15px;
}

.write-description .inner-description .write-description-footer .left-section {
  gap: 52px;
}

.write-description .inner-description .write-description-footer img {
  cursor: pointer;
}

.write-description .inner-description .write-description-footer .right-section {
  gap: 48px;
}

.write-description .write-description {
  margin-top: 23px;
  width: 95%;
  gap: 20px;
}

.write-description .write-description .save-button {
  padding: 10px;
  border-radius: 8px;
  background: #FF645A;
  color: #FFF;
  font-size: 14px;
  font-weight: 600;
}

.write-description .write-description .cancel-button {
  color: #464F60;
  font-size: 14px;
  font-weight: 600;
}

.select-menu .select-btn {
  cursor: pointer;
}

.select-menu .select-btn span {
  color: #141B34;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  text-transform: capitalize;
}


.select-menu .options {
  position: absolute;
  width: 200px;
  overflow-y: auto;
  max-height: 295px;
  padding: .5px;
  margin-top: 10px;
  background: #fff;
  animation-name: fadeInDown;
  animation-duration: 0.35s;
  animation-fill-mode: both;
  border-radius: 8px;
  border: 0.5px solid rgba(31, 41, 55, 0.15);
  box-shadow: 0px 0px 20px 0px rgba(31, 41, 55, 0.15);
}

.select-menu .options .option {
  display: flex;
  height: 55px;
  cursor: pointer;
  padding: 0 16px;
  /* border-radius: 8px; */
  align-items: center;
  background: #fff;
}

.select-menu .options .option:hover,
.select-menu .options .option .option-text:hover {
  background: #EFF1FA;
  color: #141B3A;
  font-size: 14px;
  font-weight: 600;
}


.select-menu .options .option .option-text {
  color: #464F60;
  font-size: 14px;
}


.select-menu.active .options {
  display: block;
  opacity: 0;
  z-index: 10;
  animation-name: fadeInUp;
  animation-duration: 0.4s;
  animation-fill-mode: both;
}

@keyframes fadeInUp {
  from {
    transform: translate3d(0, 30px, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes fadeInDown {
  from {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }

  to {
    transform: translate3d(0, 20px, 0);
    opacity: 0;
  }
}

/* ---------------------------- */
.priority .select-container {
  position: relative;
  width: 200px;
}

.priority .select-container .select input {
  width: 100%;
  height: 100%;
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
  color: #141B34;
  font-size: 14px;
  font-weight: 600;
  text-transform: capitalize;
  margin-bottom: 8px;
}

.priority .select-container .select input::placeholder {
  color: #141B34;
  font-size: 14px;
  font-weight: 600;
  text-transform: capitalize;
}

.priority .select-container .option-container {
  position: relative;
  height: 0;
  overflow-y: scroll;
  transition: 0.0s;
  border-radius: 8px;
  background: #FFF;
}

.priority .select-container.active .option-container {
  height: 139px;
  width: 200px;
  position: absolute;
}

.priority .select-container .option-container::-webkit-scrollbar {
  width: 1px;
}

.priority .select-container .option-container .option {
  position: relative;
  padding: 10px 15px;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: 0.2s;
}

.priority .select-container .option-container .option.selected {
  background: #EFF1FA;
  pointer-events: none;
}

.priority .select-container .option-container .option:hover {
  background: #EFF1FA;
  padding-left: 20px;
}

.priority .select-container .option-container .option label {
  font-size: 1.1rem;
  color: #000;
  cursor: pointer;
}