@media screen and (max-width: 1200px) {
  #all-todo-body .all-todo .grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (max-width: 992px) {
  #all-todo-body .all-todo .grid {
    grid-template-columns: repeat(3, 1fr);
  }

  #staticBackdrop .activity-side {
    margin-top: 20px;
  }

  #staticBackdrop .inner-modal-body {
    grid-template-columns: 1fr;
  }

  #staticBackdrop .modal-dialog-centered {
    min-height: 91vh;
    min-width: 900px;
  }
}

@media screen and (max-width: 768px) {
  #all-todo-body .all-todo .grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .all-todo-list .all-todo-nav {
    flex-direction: column;
    gap: 20px;
  }

  #staticBackdrop .modal-dialog-centered {
    min-height: 91vh;
    min-width: 700px;
  }
}

@media screen and (max-width: 576px) {
  #all-todo-body .all-todo .grid {
    grid-template-columns: repeat(1, 1fr);
  }

  /* .all-todo-list .all-todo-nav {
    flex-direction: column;
    gap: 20px;
  } */

  .dropdown .dropdown-menu {
    transform: translate(44px, 20px) !important;
  }

  #all-todo-body .all-todo .task-name .todo-popup {
    transform: translate(16px, 26px) !important;
  }

  .all-todo-list .all-todo-nav .todo-button {
    gap: 6px;
  }

  .all-todo-list .all-todo-nav .todo-button button {
    font-size: 13px;
    padding: 5px 9px !important;
  }

  #all-todo-body.all-todo-list {
    margin: 12px;
  }

  #all-todo-body .todos-header .color-dropdown .dropdown-menu,
  #all-todo-body .inProgress-header .color-dropdown .dropdown-menu,
  #all-todo-body .upcoming-header .color-dropdown .dropdown-menu {
    transform: translate(15px, 20px) !important;
  }

  #staticBackdrop .todo-status {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-content: space-between;
  }

  #staticBackdrop .modal-dialog-centered {
    min-height: 91vh;
    min-width: 380px;
  }
}