@media screen and (max-width: 1500px) {
  .today .inner-today .today-header label {
    width: 160px;
  }

  .today .inner-today .today-header label input {
    width: 100px;
  }
}

@media screen and (max-width: 1200px) {
  #all-todo-body .all-todo .grid {
    grid-template-columns: repeat(4, 1fr);
  }

  .today .inner-today .today-header {
    flex-direction: column;
    gap: 20px;
  }

  .today .inner-today .date-picker {
    justify-content: space-between;
  }

  .today .inner-today .today-header label {
    width: 100%;
  }

}

@media screen and (max-width: 992px) {
  #all-todo-body .all-todo .grid {
    grid-template-columns: repeat(3, 1fr);
  }

  #staticBackdrop .activity-side {
    margin-top: 10px;
  }

  #staticBackdrop .inner-modal-body {
    grid-template-columns: 1fr;
  }

  #staticBackdrop .modal-dialog-centered {
    min-height: 91vh;
    min-width: 95%;
  }

  .today .inner-today .today-header,
  .today .inner-today .today-header .date-picker {
    flex-direction: column;
    gap: 20px;
  }

  .today .inner-today .today-header label input {
    width: 90%;
  }

  .main-body .priorities-body {
    display: grid;
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 768px) {
  #all-todo-body .all-todo .grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .all-todo-list .all-todo-nav {
    flex-direction: column;
    gap: 20px;
  }

  #staticBackdrop .modal-dialog-centered {
    min-height: 91vh;
    min-width: 95%;
  }

  .today .inner-today .today-header,
  .today .inner-today .today-header .date-picker {
    flex-direction: column;
    gap: 20px;
  }

  .today .inner-today .today-header label input {
    width: 90%;
  }

  .main-body .priorities-body {
    display: grid;
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 576px) {
  #all-todo-body .all-todo .grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .dropdown .dropdown-menu {
    transform: translate(44px, 20px) !important;
  }

  #all-todo-body .all-todo .task-name .todo-popup {
    transform: translate(16px, 26px) !important;
  }

  .all-todo-list .all-todo-nav .todo-button {
    gap: 6px;
  }

  .all-todo-list .all-todo-nav .todo-button button {
    font-size: 13px;
    padding: 5px 9px !important;
  }

  #all-todo-body.all-todo-list {
    margin: 12px;
  }

  #all-todo-body .todos-header .color-dropdown .dropdown-menu,
  #all-todo-body .inProgress-header .color-dropdown .dropdown-menu,
  #all-todo-body .upcoming-header .color-dropdown .dropdown-menu {
    transform: translate(15px, 20px) !important;
  }

  #staticBackdrop .todo-status {
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    justify-content: space-between;
  }

  #staticBackdrop .modal-dialog-centered {
    min-height: 91vh;
    min-width: 95%;
  }

  .today {
    margin: 8px;
  }

  .today .inner-today .today-header,
  .today .inner-today .today-header .date-picker {
    flex-direction: column;
    gap: 20px;
  }

  .today .inner-today .today-header label input {
    width: 90%;
  }

  .today .inner-today .today-body .todo-right .text {
    flex-direction: column;
    justify-content: flex-start;
  }

  .today .inner-today .today-body .todo-right .text .inner-text {
    align-items: flex-start;
  }

  .main-body .priorities-body {
    display: grid;
    grid-template-columns: 1fr;
  }

  .main-body .body-content .main-list .main-list1 {
    padding-left: 10px;
  }

  .main-body .priorities-body .priorities-head,
  .main-body .priorities-body .priorities-list {
    padding: 10px;
  }

  #staticBackdrop .inner-modal-body .description {
    width: 350px;

  }

  #staticBackdrop .inner-modal-body .description form {
    padding: 10px 13px;
    width: 350px;
  }

  .inner-modal-body .write-description .inner-description {
    width: 350px;
  }

  .write-description .inner-description .write-description-footer .left-section {
    gap: 22px;
  }

  .write-description .inner-description .write-description-footer .left-section div {
    gap: 10px !important;
  }

  .write-description .inner-description .write-description-footer .inner-footer {
    flex-direction: column;
    gap: 20px;
    align-items: flex-start !important;
  }

  .inner-time-picker {
    left: 220px !important;
  }

  .select_menu2 .statusOptions {
    padding: 10px;
  }

  #staticBackdrop .status .innder-button button .sBtn-text {
    padding: 8px 5px 8px 0px;
    font-size: 10px;
  }

  #staticBackdrop .status .innder-button button img {
    padding: 0;
    width: 10px;
    height: 10px;
  }

  .jquery-datepicker.is-popup {
    left: 100px !important;
  }

  #staticBackdrop .todo-status #from_date {
    width: 85px;
  }

  #staticBackdrop .activity-side {
    width: 310px;
  }

  .write-description .write-description {
    width: 90%;
  }

  .inner-modal-body .write-description .accordion {
    width: 310px;
  }
}