@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');


body {
  font-family: "Sora", sans-serif;
}

ul {
  list-style: none;
}

.main-body {
  background: #F7F7FA;
  padding: 24px;
}

.main-body .inner-body {
  border-radius: 10px;
  border: 1px solid #E3E4E8;
  background: #FFF;
  height: 1211px;
}

.main-body .body-header {
  padding: 20px;
  border-bottom: 1px solid #E3E4E8;
}

.main-body .body-header h1 {
  color: #0A0A0A;
  font-size: 22px;
  font-weight: 600;
}

.main-body .body-header button {
  padding: 10px;
  gap: 10px;
  border-radius: 8px;
  background: #FF645A;
}

.main-body .body-header button span {
  color: #FFF;
  font-size: 16px;
  font-weight: 600;
  line-height: 148.6%;
}

.main-body .body-content {
  padding: 30px 20px;
}

.main-body .body-content .categories span {
  padding: 14px 15px;
  gap: 10px;
  border-radius: 8px;
  border: 1px solid #E3E4E8;
  background: #F7F7FA;
  color: #141B34;
  font-size: 16px;
  font-weight: 600;
}

.main-body .body-content .categories .img {
  border-radius: 4px;
  background: #141B34;
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.main-body .body-content .main-list {
  margin-top: 16px;
  list-style: none;
  list-style-position: outside;
  padding-left: 0;
}

.main-body .body-content .main-list .single-item {
  width: 275px;
  border-radius: 4px;
  border: 1px solid #E3E4E8;
  background: #F7F7FA;
  padding: 13px 11px;
}

.main-body .body-content .main-list .single-item span {
  color: #141B34;
  font-size: 14px;
  font-weight: 500;
}

.main-body .body-content .main-list .single-item button {
  width: 24px;
  height: 24px;
  border-radius: 4px;
  border: 0.5px solid #E3E4E8;
  background: #F7F7FA;
}