$time: 350ms;

// DEFAULT COLORS
$white: hsl(0, 0%, 100%); //#ffffff
$black: hsl(0, 0%, 0%); //#000000

// THEME-COLORS
$primary: hsl(4, 100%, 68%); //#FF645A

// BACKGROUND-COLORS


// TEXT-COLORS
$textprimary: hsl(227, 44%, 14%); //#141B34
$textsecondary: hsl(228, 11%, 46%); //#686D82
$textplaceholder: hsl(0, 0%, 72%); //#B7B7B7
$buttontext: hsl(233, 13%, 14%); //#1F2028
$textsignin: hsl(240, 6%, 73%); //#B5B5BD

$danger: hsl(7, 100%, 55%); //#FF371C


// BORDER-COLORS
$headerborder: hsl(210, 42%, 90%); //#DAE5F0

// SHADOWS

// BOX-SHADOWS