@use "../../global" as *;
@use "../../partials" as *;

.featurebadge {
  @include setBgColor($badgebg, $primary);
  font-size: size(14);
  font-weight: 400;
  @include radius(100);
  display: inline-block;
  padding: size(8) size(16);
  text-align: center;
}