@use '../../global' as *;
@use '../../partials' as *;

.header {
  background: $white;
  @include border-single(bottom, solid, 1, $headerborder);
  @include flex-center-vert;
  height: size(70);

  &-nav {
    @include flex-center-between;
  
    .brand-logo {
      width: size(120);
      height: size(36);
      @include flex-center;
      overflow: hidden;

      img {
        @include wh100;
        object-fit: contain;
      }
    }
  }
}